.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 30;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
    margin: 0 20;
    text-align: center;
}

.list-view-row {
    padding: 12 12 12 12;
}

.header-view-row{
    font-size: 16;
    color: coral;
    margin: 5;
}

.text-header-row{
    font-size: 15;
    color: black;
    margin: 5;
}